* {
  margin: 0;
  padding: 0;
}

ul.slick-dots {
  height: 8vh;
}
//.up2 {
// z-index: 2;
// position: relative;
//p {
//  font-size: 5vw;
// font-weight: bold;
// text-align: center;
//  color: white;
// display: inline-block;
//}
//}

//.down1 {
// position: relative;
// z-index: 1;
// top: -200px;

.imageA {
  p {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  background-image: url(/images/lake_1920.jpg);
  background-size: cover; // 사이즈가 container에 맞지 않아도 꽉 차도록 채운다.
  background-position: center;

  height: 70vh;
}
.imageB {
  background-image: url(/images/lantern_1920.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
}
.imageC {
  background-image: url(/images/tree_1920.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
}
//}
