* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  .box_right {
    width: 70%;
    height: 20vh;
    margin-top: 1vh;
    background-color: rgb(71, 68, 68);
  }
  .box_left {
    width: 70%;
    height: 20vh;
    background-color: rgb(71, 68, 68);
    margin-top: 1vh;
    margin-left: auto;
  }

  p {
    font-size: 5vw;
    height: center;
    text-align: center;
  }
}
