* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  list-style: none;
  font-size: 2vh;
}

a {
  text-decoration: none;
  color: bisque;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(28, 42, 49);
  height: 8vh;
  padding: 2vh 12vw;
  margin: 0;

  .navbar__logo {
    font-size: 3vw;
    color: brown;

    a {
      font-size: 3vw;
    }
  }

  .navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;

    li:hover {
      background-color: black;
      border-radius: 5px;
    }

    a {
      padding: 8px 12px;
      color: #ffffff;
      font-size: 2vw;
    }
  }

  .navbar__icons {
    display: flex;
    font-size: 3vw;
    color: black;
    li {
      padding: 4px;
      font-size: 3vh;
      :hover {
        color: coral;
      }
    }
  }
}
